body {
  font: 16px/26px "Open Sans", Helvetica, Helvetica Neue, Arial;
  background-color: black;
  color: #2b4d66;
  padding-bottom: 200px;
}
/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .img-bg {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}
/* slide1 */
.cutout-character {
  position: absolute;
  right: 5%;
  bottom: 5%;

  height: 70%;
}
.image-list-container {
  position: absolute;
  bottom: 10%;
  left: 5%;

  display: flex;
  gap: 20px;
}

.list-image {
  width: 18%;
  border: 2px solid gray; /* Default border to transparent */
  transition: border-color 0.3s ease; /* Smooth transition for border change */
}

.list-image:hover,
.list-image:focus {
  border-color: gold; /* Border color when hovered or focused */
  outline: none; /* Remove default focus outline */
}
